@mixin http-method($name, $back-color, $border-color) {
  &.#{$name} {
    background-color: $back-color;
    border-color: $border-color;

    .method, .navigation > span {
      background-color: $border-color;
    }
  }
}
