@mixin http-method($name, $back-color, $border-color) {
  &.#{$name} {
    background-color: #ffffff;
    border-color: $border-color;

    .method {
      color: $border-color;
    }

    @if $name == 'disabled' {
      .path {
        color: #828590;
        text-decoration: line-through;
      }
    }
  }
}
